/* reset */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
header {
  margin: 10px 0px 0px 10px;
}
h1 {
  margin-left: 10px;
  font-size: 12pt;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #69696a;
}
ul li {
  margin: 10px 0px 0px 10px;
}
ul li a {
  text-decoration: none;
  color: #69696a;
  margin-top: 15px;
}

.hireus {
  border: 1px;
  color: white;
  background-color: black;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
}

.hireus-link {
  text-decoration: none;
  color: #fff;
}
main h1 {
  font-size: 20pt;
  margin-left: 10px;
}
p {
  border-left: #69696a 2px solid;
  padding-left: 15px;
  margin-left: 10px;
}

.calltoaction {
  border: 1px;
  color: white;
  background-color: black;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  font-size: 12pt;
  margin-left: 10px;
}

.calltoaction-link {
  text-decoration: none;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(247, 193, 162, 0.7);
  justify-content: space-around;
  display: flex;
  align-items: right;
}

.footerlink {
  display: inline-block;
}

footer ul li {
  display: inline-block;
}
